node_modules
dist/
out/
build/
.mypy_cache
.vscode-test
package-lock.json
*.vsix
*.cpuprofile
*.log
*.exe

test/C/
!test/C/main.c
test/Cpp/
!test/Cpp/main.cc
test/CMinimal/
!test/CMinimal/main.c
test/CppMinimal/
!test/CppMinimal/main.cc
