node_modules
dist/
out/
build/
.mypy_cache
.vscode-test
package-lock.json
*.vsix
*.cpuprofile
*.log
*.exe

test/testAssets/C/*
!test/testAssets/C/main.c
test/testAssets/Cpp/*
!test/testAssets/Cpp/main.cc
test/testAssets/CMinimal/*
!test/testAssets/CMinimal/main.c
test/testAssets/CppMinimal/*
!test/testAssets/CppMinimal/main.cc
